{{define "base"}}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MX - It's relay easy!</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="/css/stylesheet.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Antic+Slab&family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">

    <!-- Define your gradient here - use online tools to find a gradient matching your branding-->
    <style>
      .gradient {
        background: radial-gradient(circle, rgba(66,153,225,1) 0%, rgba(26,32,44,1) 95%); 
      }
    </style>

    {{block "stylesheets" .}}{{end}}

  </head>

  <body class="leading-normal tracking-normal text-white gradient" style="font-family: 'Nanum Gothic', sans-serif;">

    <!--Nav-->
    <nav id="header" class="fixed w-full z-30 top-0 text-white shadow">

      <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-2">

        <div class="pl-4 flex items-center">
          <a class="toggleColour text-white no-underline hover:no-underline font-bold text-2xl lg:text-4xl"  href="/"> 
            <!--Icon from: http://www.potlabicons.com/ -->
            <img id="logo" class="h-10" src="/img/logo-light.svg" /> 
          </a>
        </div>

        <div class="block lg:hidden pr-4">
          <button id="nav-toggle" class="flex items-center p-1 text-orange-800 hover:text-gray-900">
            <svg class="fill-current h-6 w-6" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
          </button>
        </div>

        <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block mt-2 lg:mt-0 bg-transparent text-black p-4 lg:p-0 z-20" id="nav-content">
          <ul class="list-reset lg:flex justify-end flex-1 items-center">
            <li class="mr-3">
              <a class="toggleColour inline-block py-2 px-4 text-gray-200 font-bold hover:text-blue-500 no-underline" href="/#pp">Plans & Pricing</a>
            </li>
            <li class="mr-3">
              <a class="toggleColour inline-block py-2 px-4 text-gray-200 font-bold hover:text-blue-500 no-underline" href="#">Terms of Use</a>
            </li>
            <li class="mr-3">
              <a class="toggleColour inline-block py-2 px-4 text-gray-200 font-bold hover:text-blue-500 no-underline" href="https://my.mx.ax">Login</a>
            </li>
          </ul>
        </div>
      </div>

      <hr class="border-b border-gray-100 opacity-25 my-0 py-0" />
    </nav>

    {{template "page" .}}


    {{block "footer" .}}{{end}}

    <script>

      var scrollpos = window.scrollY;
      var header = document.getElementById("header");
      var navcontent = document.getElementById("nav-content");
      var brandname = document.getElementById("brandname");
      var toToggle = document.querySelectorAll(".toggleColour");
      var logo = document.getElementById("logo");

      document.addEventListener('scroll', function() {

        /*Apply classes for slide in bar*/
        scrollpos = window.scrollY;

        if (scrollpos > 10){
          if (logo.src === "/img/logo-dark.svg") return;

          header.classList.remove("bg-gray-900");
          header.classList.add("bg-white");

          for (var i = 0; i < toToggle.length; i++) {
            toToggle[i].classList.add("text-gray-800");
            toToggle[i].classList.remove("text-white");
          }

          header.classList.add("shadow");
          navcontent.classList.remove("bg-gray-100");
          logo.src = "/img/logo-dark.svg";

        } else {
          if (logo.src === "/img/logo-light.svg") return;

          header.classList.add("bg-gray-900");
          header.classList.remove("bg-white");

          for (var i = 0; i < toToggle.length; i++) {
            toToggle[i].classList.add("text-white");
            toToggle[i].classList.remove("text-gray-800");
          }

          header.classList.remove("shadow");
          logo.src = "/img/logo-light.svg";

        }
      });


    </script>

    {{block "scripts" .}}{{end}}

  </body>

</html>
{{end}}
