{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <title>{{block "title" .}}MX{{end}}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- css -->
  <link rel="stylesheet" href="/css/stylesheet.css">

  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Antic+Slab&family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">

  <!-- global js -->
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

  {{block "stylesheets" .}}{{end}}

  <body class="xl:overflow-hidden">
    <!-- https://bugzilla.mozilla.org/show_bug.cgi?id=1404468 -->
    <script>0</script>

    <!-- wrapper -->
    <div class="flex flex-col md:flex-row min-h-screen w-full">

      <!-- nav -->
      {{template "nav" .}}

      <!-- page -->
      <div class="flex flex-col flex-1 bg-gray-100">
        {{template "page" .}}
      </div>

      {{block "stream" .}}{{end}}

    </div>

    {{block "scripts" .}}{{end}}

  </body>
</html>
{{end}}
