{{define "nav"}}
<div @click.away="open = false" x-data="{ open: false }" class="flex flex-col w-full md:w-48 bg-gray-900 flex-shrink-0 shadow-bottom">
  <div class="flex-shrink-0 px-5 py-4 flex flex-row items-center justify-between">
    <a href="#" class="text-4xl text-sm uppercase tracking-widest uppercase text-white heading tracking-wide">MX/AX</a>

    <button @click="open = !open" class="md:hidden focus:outline-none text-white">
      <svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6">
        <path x-show="!open" fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z" clip-rule="evenodd"></path>
        <path x-show="open" fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
      </svg>
    </button>

  </div>

  <nav :class="{'block': open, 'hidden': !open}" class="flex-grow md:block px-3 pb-4 md:pb-0 md:overflow-y-auto">
    <a class="text-sm uppercase tracking-widest text-gray-200 hover:text-gray-100 block px-4 py-3 heading" href="/">
      <svg class="fill-current h-4 inline mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 20a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm-5.6-4.29a9.95 9.95 0 0 1 11.2 0 8 8 0 1 0-11.2 0zm6.12-7.64l3.02-3.02 1.41 1.41-3.02 3.02a2 2 0 1 1-1.41-1.41z"/></svg>
      Dashboard
    </a>
    <a class="text-sm uppercase tracking-widest text-gray-200 hover:text-gray-100 block px-4 py-3 heading" href="/log">
      <svg class="fill-current h-4 inline mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12 12l8-8V0H0v4l8 8v8l4-4v-4z"/></svg>
      LOG Stream
    </a>
    <a class="text-sm uppercase tracking-widest text-gray-200 hover:text-gray-100 block px-4 py-3 heading" href="/security">
      <svg class="fill-current h-4 inline mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12.26 11.74L10 14H8v2H6v2l-2 2H0v-4l8.26-8.26a6 6 0 1 1 4 4zm4.86-4.62A3 3 0 0 0 15 2a3 3 0 0 0-2.12.88l4.24 4.24z"/></svg>
      Security
    </a>
    <a class="text-sm uppercase tracking-widest text-gray-200 hover:text-gray-100 block px-4 py-3 heading" href="/logout">
      <svg class="fill-current h-4 inline mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M4.16 4.16l1.42 1.42A6.99 6.99 0 0 0 10 18a7 7 0 0 0 4.42-12.42l1.42-1.42a9 9 0 1 1-11.69 0zM9 0h2v8H9V0z"/></svg>
      Logout
    </a>
  </nav>
</div>
{{end}}
