{{define "nav"}}
<section class="fl p2 w-10 pa0 ma0 h-100 fixed bg-light-green">
  <div class="db w-100 pb0 mb0">
    <h1 class="tr-l tc dark-green f3-ns f5 ma0 pa3-ns pa2">MX</h1>
  </div>

  <ul class="list pa0 ma0 center tracked f6-l">
    <li class="tc-m dark-green pointer hover-br-2 b--dark-green {{if eq .Route "dashboard"}}br{{end}}">
      <a class="fw7 w-100 dib pl3-l pl2 pt3 pb3 no-underline color-inherit" href="/">
        <i class="lni lni-home mr2"></i> <span class="dn dib-l">Dashboard</span>
      </a>
    </li>
    <li class="tc-m dark-green pointer hover-br-2 b--dark-green {{if eq .Route "domains"}}br{{end}}">
      <a class="fw7 w-100 dib pl3-l pl2 pt3 pb3 no-underline color-inherit" href="/domains">
        <i class="lni lni-world mr2"></i> <span class="dn dib-l">Domains</span>
      </a>
    </li>
    <li class="tc-m dark-green pointer hover-br-2 b--dark-green {{if eq .Route "destinations"}}br{{end}}">
      <a class="fw7 w-100 dib pl3-l pl2 pt3 pb3 no-underline color-inherit" href="/destinations">
        <i class="lni lni-envelope mr2"></i> <span class="dn dib-l">Destinations</span>
      </a>
    </li>
    <li class="tc-m dark-green pointer hover-br-2 b--dark-green {{if eq .Route "aliases"}}br{{end}}">
      <a class="fw7 w-100 dib pl3-l pl2 pt3 pb3 no-underline color-inherit" href="/aliases">
        <i class="lni lni-direction mr2"></i> <span class="dn dib-l">Aliases</span>
      </a>
    </li>
    <li class="tc-m dark-green pointer hover-br-2 b--dark-green {{if eq .Route "log"}}br{{end}}">
      <a class="fw7 w-100 dib pl3-l pl2 pt3 pb3 no-underline color-inherit" href="/log">
        <i class="lni lni-files mr2"></i> <span class="dn dib-l">Log</span>
      </a>
    </li>
    <li class="tc-m dark-green pointer hover-br-2 b--dark-green {{if eq .Route "security"}}br{{end}}">
      <a class="fw7 w-100 dib pl3-l pl2 pt3 pb3 no-underline color-inherit" href="/security">
        <i class="lni lni-key mr2"></i> <span class="dn dib-l">Security</span>
      </a>
    </li>
    <li class="tc-m dark-green pointer hover-br-2 b--dark-green">
      <a class="fw7 w-100 dib pl3-l pl2 pt3 pb3 no-underline color-inherit" href="/logout">
        <i class="lni lni-power-switch mr2"></i> <span class="dn dib-l">Logout</span>
      </a>
    </li>
  </ul>
</section>

<!-- left pusher -->
<section class="fl p2 w-10 pa0 ma0 h-100"></section>
{{end}}
