/* font */
.dark, .hover-dark:hover, .hover-dark:active {
	color: #242423;
}

.dark-hilight, .hover-dark-hilight:hover, .hover-dark-hilight:active {
	color: #333533;
}

.primary, .hover-primary:hover, .hover-primary:active {
	color: #f5cb5c;
}

.secondary, .hover-secondary:hover, .hover-secondary:active {
	color: #355D9B;
}

/* bg */
.bg-dark, .hover-bg-dark:hover, .hover-bg-dark:active {
	background-color: #242423;
}

.bg-dark-hilight, .hover-bg-dark-hilight:hover, .hover-bg-dark-hilight:active {
	background-color: #333533;
}

.bg-primary, .hover-bg-primary:hover, .hover-bg-primary:active {
	background-color: #f5cb5c;
}

.bg-secondary, .hover-bg-secondary:hover, .hover-bg-secondary:active {
	background-color: #355D9B;
}

/* border */
.b--dark {
	border-color: #242423;
}

.b--dark-hilight {
	border-color: #333533;
}

.b--primary {
	border-color: #f5cb5c;
}

.b--secondary {
	border-color: #355D9B;
}

.hover-br-2:hover {
	border-right-style:solid;
	border-right-width: 2px;
}

.hover-b--dark-green:hover {
	border-color: #137752;
}
