{{define "stylesheets"}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css">
{{end}}

{{define "page"}}
<div class="bg-white text-sm uppercase px-5 py-2 shadow-bottom">
  <h1 class="heading tracking-wide text-2xl">
    <svg class="fill-current h-4 inline mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 20a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm-5.6-4.29a9.95 9.95 0 0 1 11.2 0 8 8 0 1 0-11.2 0zm6.12-7.64l3.02-3.02 1.41 1.41-3.02 3.02a2 2 0 1 1-1.41-1.41z"/></svg>
    Alias '{{.Alias.Rule}}' for {{.Domain.Name}}
  </h1>
</div>

<div class="overflow-y-auto overflow-x-hidden h-screen">
  <div class="grid grid-cols-1 xl:grid-cols-2 gap-6 p-4">

    <!-- details -->
    <div class="col-span-1">
      <div>
        <h1 class="heading uppercase pl-2 pb-2 text-sm">Details</h1>
      </div>
      <div class="bg-white shadow-bottom card-radius pa-4">
        <div class="h-auto p-4 prose">
          <p>Currently matching <code>{{.Alias.Rule}}</code> on all incoming emails to <a href="/domain/manage/{{.Domain.Name}}" class="underline">{{.Domain.Name}}</a>.</p>
        </div>
      </div>
    </div>

    <!-- destinations -->
    <div class="col-span-1">
      <div>
        <h1 class="heading uppercase pl-2 pb-2 text-sm">Destinations</h1>
      </div>
      <div class="bg-white shadow-bottom card-radius">
<table class="table-fixed w-full border-collapse border-gray-900">
  <thead>
    <tr class="text-left bg-gray-200">
      <th class="w-8/12 px-4 py-2 border-bottom">Destination</th>
      <th class="w-2/12 px-4 py-2 border-bottom">Aliases</th>
      <th class="w-2/12 px-4 py-2 border-bottom"></th>
    </tr>
  </thead>
  <tbody>
    {{range .ExistingDestinations}}
    <tr class="hover:bg-gray-100 border-b border-gray-300 py-10">
      <td class="px-4 py-2 truncate"><a href="#" class="underline">{{.Address}}</a></td>
      <td class="px-4 py-2">{{.Aliases}}</td>
      <td class="px-4 py-2">
        <a href="#" title="View charts">
          <svg class="fill-current h-3 inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M1 10h3v10H1V10zM6 0h3v20H6V0zm5 8h3v12h-3V8zm5-4h3v16h-3V4z"/></svg>
        </a>
        <a href="/alias/destination/delete/{{.HID}}" title="Delete">
          <svg class="fill-current h-3 inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.77 11.5l5.34 3.91c.44.33 1.24.59 1.79.59H20L6.89 6.38A3.5 3.5 0 1 0 5.5 8.37L7.73 10 5.5 11.63a3.5 3.5 0 1 0 1.38 1.99l2.9-2.12zM3.5 7a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0 9a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zM15.1 4.59A3.53 3.53 0 0 1 16.9 4H20l-7.5 5.5L10.45 8l4.65-3.41z"/></svg>
        </a>
      </td>
    </tr>
    {{end}}
  </tbody>
</table>

        {{template "add_alias_destination" .}}
      </div>
    </div>

    <!-- stats -->
    <div class="col-span-1 xl:col-span-2">
      <div class=" bg-white shadow-bottom card-radius">
        <div class="bg-gray-200 px-4 py-2 text-left text-sm uppercase">
          <h2>Overall Stats</h2>
        </div>
        <div class="h-auto p-4">
          <canvas id="activity" class="h-64 object-contain"></canvas>
        </div>
      </div>
    </div>
    <!-- end stats -->

  </div>
</div>
{{end}}

{{define "stream"}}
<div class="flex flex-col hidden xl:block xl:w-2/12 bg-white flex-shrink-0">
  <div class="bg-white text-sm uppercase px-5 py-2 shadow-bottom">
    <h2 class="heading tracking-wide text-2xl">
      <svg class="fill-current h-4 inline mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12 12l8-8V0H0v4l8 8v8l4-4v-4z"/></svg>
      Stream
    </h2>
  </div>
  <div class="overflow-y-scroll h-screen">
    {{template "log_stream" .Entries}}
  </div>
</div>
{{end}}

{{define "scripts"}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
<script>
  var config = {
    type: 'line',
    data: {
      labels: {{.Labels}},
      datasets: [
        {
          label: 'Send',
          borderColor: '#48BB78',
          data: {{.InboundSend}},
          fill: false,
          dispaly: false,
        },
        {
          label: 'Bounce',
          borderColor: '#ED8936',
          data: {{.InboundBounce}},
          fill: false,
          dispaly: false,
        },
        {
          label: 'Reject',
          borderColor: '#F56565',
          data: {{.InboundReject}},
          fill: false,
          dispaly: false,
        },
      ]
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      legend: {
        align: 'end',
        labels: {
          fontFamily: "'Nanum Gothic', sans-serif",
          fontColor: '#2A4365',
          boxWidth: 10,
        },
      },
      tooltips: {
        mode: 'index',
        intersect: false,
      },
      hover: {
        mode: 'nearest',
        intersect: true
      },
      scales: {
        xAxes: [{
          type: 'time',
          time: {
            unit: 'hour',
          },
          scaleLabel: {
            display: true,
            labelString: 'Time'
          },
          ticks: {
            beginAtZero: true,
          },
        }],
        yAxes: [{
          display: true,
          scaleLabel: {
            display: true,
            labelString: 'Count'
          }
        }]
      }
    }
  };

  window.onload = function() {
    var ctx = document.getElementById('activity').getContext('2d');
    window.myLine = new Chart(ctx, config);
  };

</script>
{{end}}

