{{define "page"}}
<div class="mw9 center br1 mh3 mv3">
  <div class="w-100 bb b--near-white pa3 cf">
    <h3 class="f4 ma0 p0 fl">
      <i class="lni lni-world mr2"></i> 
      Domains
    </h3>

    <a href="/domains/add" class="fr pa2 bg-light-green dark-green hover-b--dark-green ba b--washed-green no-underline br1">
      <i class="lni lni-plus"></i>
    </a>
  </div>

  <div class="w-100 pa4">
    <h4 class="f5 pb3">Overview of your domains</h4>

    <div class="overflow-auto">
      <table class="f6 w-100 center" cellspacing="0">
        <thead>
          <tr>
            <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Domain</th>
            <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Aliases</th>
            <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Catch All</th>
            <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Status</th>
            <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white w4"></th>
          </tr>
        </thead>
        <tbody class="lh-copy">
          {{range .Domains}}
          <tr>
            <td class="pv3 pr3 bb b--black-20">
              <a href="/domain/manage/{{.Name}}" class="link navy">{{.Name}}</a>
            </td>
            <td class="pv3 pr3 bb b--black-20"><a href="#" class="link navy">{{.Aliases}}</a></td>
            <td class="pv3 pr3 bb b--black-20">
              <a href="#" class="link navy">
                {{if gt .CatchAll 0}}
                  <i class="lni lni-checkmark"></i>
                {{else}}
                  <i class="lni lni-close"></i>
                {{end}}
              </a>
            </td>
            <td class="pv3 pr3 bb b--black-20">
              {{template "domain_status" .}}
            </td>
            <td class="pv3 pr3 bb b--black-20">
              <a href="#" class="link navy pr2" title="View analytics"><i class="lni lni-bar-chart"></i></a>
              <a href="/domain/delete/{{.Name}}" class="link navy pr2" title="Delete"><i class="lni lni-archive"></i></a>
            </td>
          </tr>
          {{else}}
          <tr>
            <td class="tc">Please add a Domain</td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </div>
  </div>
</div>
{{end}}
