{{define "page"}}
<div class="mw9 center br1 mh3 mv3">
  <div class="w-100 bb b--near-white pa3 cf">
    <h3 class="f4 ma0 p0 fl">
      <i class="lni lni-files mr2"></i> 
      Log
      <small>WIP</small>
    </h3>
  </div>

  <div class="w-100 pa4">
    <p class="f5 pb3 lh-copy">An overview of your accounts inbound/outbound activity. Bounces and Failures are recorded here to help identify messages that were undeliverable. If you want to enable additional logging for succesful Inbound/Outbound, please enable statistics.</p>

    <div class="overflow-auto">
      <table class="f6 w-100 center" cellspacing="0">
        <thead>
          <tr>
            <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">From</th>
            <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Via</th>
            <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">To</th>
            <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">At</th>
            <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Status</th>
            <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white w4"></th>
          </tr>
        </thead>
        <tbody class="lh-copy">
          {{range .Entries}}
          <tr>
            <td class="pv3 pr3 bb b--black-20">{{.FromEmail}}</td>
            <td class="pv3 pr3 bb b--black-20">{{.ViaEmail}}</td>
            <td class="pv3 pr3 bb b--black-20">{{.ToEmail}}</td>
            <td class="pv3 pr3 bb b--black-20"><a href="#" title="{{.ID}}">{{.Time}}</a></td>
            <td class="pv3 pr3 bb b--black-20">{{template "log_entry_status" .}}</td>
            <td class="pv3 pr3 bb b--black-20"></td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </div>

  </div>
</div>
{{end}}
