{{define "page"}}
        <div class="mw9 center br1 mh3 mv3">
          <div class="w-100 bb b--near-white pa3 cf">
            <h3 class="f4 ma0 p0 fl">
              <i class="lni lni-files mr2"></i> 
              Log
              <small>WIP</small>
            </h3>
          </div>

          <div class="w-100 pa4">
            <p class="f5 pb3 lh-copy">An overview of your accounts inbound/outbound activity. Bounces and Failures are recorded here to help identify messages that were undeliverable. If you want to enable additional logging for succesful Inbound/Outbound, please enable statistics.</p>

            <div class="overflow-auto">
              <table class="f6 w-100 center" cellspacing="0">
                <thead>
                  <tr>
                    <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">From</th>
                    <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">To</th>
                    <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Match</th>
                    <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">At</th>
                    <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Status</th>
                    <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white w4"></th>
                  </tr>
                </thead>
                <tbody class="lh-copy">
                  <tr>
                    <td class="pv3 pr3 bb b--black-20">info@pageup.me</td>
                    <td class="pv3 pr3 bb b--black-20">jess@mx.ax</td>
                    <td class="pv3 pr3 bb b--black-20"><a href="#" class="no-underline navy">yes</a></td>
                    <td class="pv3 pr3 bb b--black-20">14:29 01/02/20</td>
                    <td class="pv3 pr3 bb b--black-20"><span class="br1 f7 tc pv1 ph2 ba b--green green b">Sent</span></td>
                    <td class="pv3 pr3 bb b--black-20">
                    </td>
                  </tr>
                  <tr>
                    <td class="pv3 pr3 bb b--black-20">info@pageup.me</td>
                    <td class="pv3 pr3 bb b--black-20">jess@mx.ax</td>
                    <td class="pv3 pr3 bb b--black-20"><a href="#" class="no-underline navy">yes</a></td>
                    <td class="pv3 pr3 bb b--black-20">14:29 01/02/20</td>
                    <td class="pv3 pr3 bb b--black-20"><span class="br1 f7 tc pv1 ph2 ba b--red red b">Bounced</span></td>
                    <td class="pv3 pr3 bb b--black-20">
                      <a href="#" class="link navy pr2" title="View details"><i class="lni lni-question-circle"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>
{{end}}
