{{define "page"}}
        <div class="mw9 center br1 mh3 mv3">
          <div class="w-100 bb b--near-white pa3 cf">
            <h3 class="f4 ma0 p0 fl">
              <i class="lni lni-file mr2"></i> 
              Details
            </h3>
          </div>

          <div class="w-100 pa4">
            <dl class="lh-title pa4 mt0">
              <dt class="f6 b">From</dt>
              <dd class="ml0">origin@foo.com</dd>
              <dt class="f6 b mt2">To</dt>
              <dd class="ml0">jess@pageup.me</dd>
              <dt class="f6 b mt2">Destination</dt>
              <dd class="ml0">jess@lawrence.pm</dd>
              <dt class="f6 b mt2">Arrived At</dt>
              <dd class="ml0">14:29 01/02/20</dd>
              <dt class="f6 b mt2">Forwarded At</dt>
              <dd class="ml0">14:32 01/02/20</dd>
            </dl>

            <h4 class="f6">Bounce Message</h4>
            <div class="br1 b--light-green bg-near-white">
              <p class="pre overflow-auto">
              Bounce  message
              </p>
            </div>

          </div>
        </div>
{{end}}
