{{define "page"}}
<div class="mw9 center br1 mh3 mv3">
  <div class="w-100 bb b--near-white pa3 cf">
    <h3 class="f4 ma0 p0 fl">
      <i class="lni lni-certificate mr2"></i> 
      Verify Domain
    </h3>
  </div>

  <div class="w-100 pa4">
    <p class="f5 pb3 lh-copy">Before you can start using the Domain, please verify that you have permission to you use it by creating the following CNAME record.</p>

    <div class="overflow-auto mb4">
      <table class="f6 w-100 center" cellspacing="0">
        <thead>
          <tr>
            <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Host</th>
            <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Type</th>
            <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Value</th>
          </tr>
        </thead>
        <tbody class="lh-copy">
          <tr>
            <td class="pv3 pr3 bb b--black-20">mx-d33db84f12</td>
            <td class="pv3 pr3 bb b--black-20">CNAME</td>
            <td class="pv3 pr3 bb b--black-20">mx-d33db84f12.mx.ax</td>
          </tr>
        </tbody>
      </table>
    </div>

    <a href="#" class="pa2 bg-light-green dark-green hover-b--dark-green ba b--washed-green no-underline br1 f5">
      <i class="lni lni-magnifier mr2"></i>
      Check
    </a>
  </div>
</div>
{{end}}
