{{define "page"}}
<div class="mw9 center br1 mh3 mv3">
  <div class="w-100 bb b--near-white pa3 cf">
    <h3 class="f4 ma0 p0 fl">
      <i class="lni lni-certificate mr2"></i> 
      Verify {{.Domain.Name}}
    </h3>
  </div>

  <div class="w-100 pa4">
    <p class="f5 pb3 lh-copy">Before you can start using the Domain, please verify that you have permission to you use it by creating the following CNAME record.</p>

    <div class="overflow-auto mb4">
      <table class="f6 w-100 center" cellspacing="0">
        <thead>
          <tr>
            <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Host</th>
            <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Type</th>
            <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Value</th>
            <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white w2"></th>
          </tr>
        </thead>
        <tbody class="lh-copy">
          <tr>
            <td class="pv3 pr3 bb b--black-20">{{.Domain.VerifyCode}}</td>
            <td class="pv3 pr3 bb b--black-20">CNAME</td>
            <td class="pv3 pr3 bb b--black-20">{{.Domain.VerifyCode}}.mx.ax.</td>
            <td class="pv3 pr3 bb b--black-20">
              <a href="#" class="mxax-copy-record link navy pr2" title="Copy entire record" data-record="{{.Domain.BuildVerifyRecord}}">
                <i class="lni lni-add-files"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <form method="post" accept-charset="utf-8" action="/domain/{{.Domain.Name}}/verify">
          <input class="pa2 input-reset dark-green bg-light-green hover-b--dark-green ba b--washed-green br1 pointer f5" type="submit" value="Check" />
    </form>

    {{if hasField . "Errors"}}
      {{range .Errors.All}}
        <p class="red">{{.}}</p>
      {{end}}
    {{end}}
  </div>
</div>
{{end}}

{{define "scripts"}}
<script>
  var toCopy = Array.from(document.querySelectorAll('.mxax-copy-record')).map(function(el) {
    el.addEventListener("click", function(ev) {
      var record = el.getAttribute("data-record");
      var dummy = document.createElement("textarea");
      document.body.appendChild(dummy);
      dummy.value = record;
      dummy.select();
      document.execCommand("copy");
      document.body.removeChild(dummy);
    });
  });
</script>
{{end}}

