{{define "domain_status"}}

{{if eq .Status "ready"}}
    <span class="text-sm font-medium bg-green-100 py-1 px-2 rounded text-green-500 align-middle">Ready</span>
{{else if eq .Status "unverified"}}
    <span class="text-sm font-medium bg-red-100 py-1 px-2 rounded text-red-500 align-middle">Unverified</span>
{{else if eq .Status "incomplete"}}
    <span class="text-sm font-medium bg-orange-100 py-1 px-2 rounded text-orange-500 align-middle">Incomplete</span>
{{else}}
    <span class="text-sm font-medium bg-gray-100 py-1 px-2 rounded text-gray-500 align-middle">Unknown</span>
{{end}}

{{if .Expiring}}
    <span class="text-sm font-medium bg-orange-100 py-1 px-2 rounded text-orange-500 align-middle">Expiring</span>
{{end}}

{{if .Expired}}
    <span class="text-sm font-medium bg-red-100 py-1 px-2 rounded text-red-500 align-middle">Expired</span>
{{end}}

{{end}}
