@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
	background-color: "#1A202C";
	background: radial-gradient(circle, rgba(66,153,225,1) 0%, rgba(26,32,44,1) 95%); 
}

.heading {
	font-family: 'Antic Slab', sans-serif;
}

.shadow-bottom {
	box-shadow: 0px 7px 5px -5px rgba(42,67,101,0.05);
}

.card-radius {
	border-radius: 7px;
}

body {
	font-family: 'Nanum Gothic', sans-serif;
	@apply text-blue-900;
}
