{{define "login"}}
<!DOCTYPE html>
<html lang="en">
  <title>{{block "title" .}}MX{{end}}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- css -->
  <link rel="stylesheet" href="/css/stylesheet.css">

  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Antic+Slab&family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">

  <body class="h-screen flex bg-gray-100">

    <script>0</script>

    <div class="max-w-sm lg:max-w-full lg:flex m-auto bg-white shadow-md card-radius">

      <div class="p-6">
        <img src="/img/login.svg" class="h-56" />
      </div>

      <div class="flex flex-col justify-between leading-normal">

        <form method="post" class="px-8 pt-6 pb-6">
          <div class="mb-4">
            <label class="heading uppercase block text-gray-700 text-sm mb-2" for="email">
              Email
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="email" type="text" placeholder="user@mx.ax">
          </div>
          <div class="mb-6">
            <label class="heading uppercase block text-gray-700 text-sm mb-2" for="password">
              Password
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" name="password" type="password" placeholder="******************">

            {{range .Errors.All}}
            <p class="text-red-500 text-xs italic">{{.}}</p>
            {{end}}
          </div>
          <div class="flex items-center justify-between">
            <input class="cursor-pointer bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit" value="Login" />

            <a class="inline-block align-baseline text-sm text-blue-500 hover:text-blue-800" href="https://mx.ax/register">
              Register
            </a>
          </div>
        </form>
      </div>
    </div>

  </body>
</html>
{{end}}

