{{define "register"}}
<!DOCTYPE html>
<html lang="en">
  <title>{{block "title" .}}MX{{end}}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
  <link rel="stylesheet" href="./assets/style.css">
  <link rel="stylesheet" href="https://cdn.lineicons.com/2.0/LineIcons.css">

  <body class="sans-serif dark-gray">

    <div class="flex justify-center items-center w-100 vh-100 sticky bg-light-green">
      <main class="mw7 measure pa4 black-80 bg-white br1">
        <h1 class="f4">Thankyou</h1>
        <p class="lh">Verification is manually done during this test phase. We will be in touch!</p>
      </main>
    </div>

  </body>
</html>
{{end}}
